@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

@model IEnumerable<WebsiteTraSua.Models.SanPham>

<h2 class="text-2xl font-bold">Sản phẩm</h2>

<div class="container mx-auto p-6">
    <div class="flex justify-between items-center mb-6">
        <a href="@Url.Action("ThemSanPham")" class="bg-blue-500 text-black px-4 py-2 rounded hover:bg-blue-600">
            Thêm sản phẩm mới
        </a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        @foreach (var item in Model)
        {
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
                <img src="@item.HinhAnh" alt="@item.TenSP" class="w-full h-32 object-cover" />
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-2">@item.TenSP</h2>
                    <p class="text-gray-600 mb-2">@item.MoTa</p>
                    <div class="mt-2 flex justify-between items-center">
                        <span class="text-lg font-bold text-green-500">@item.Gia.ToString("N0")đ</span>
                        <a href="@Url.Action("SuaSanPham", new { id = item.MaSP })" class="bg-blue-500 text-black px-3 py-1 rounded hover:bg-blue-600">
                            Chỉnh sửa
                        </a>
                        <a href="@Url.Action("XoaSanPham", new { id = item.MaSP })" class="bg-blue-500 text-black px-3 py-1 rounded hover:bg-blue-600">
                            Xóa
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
